
    <h2>Environment</h2>

    <div class="btn-group pull-right" role="group">
        <button title="Update" class="btn btn-sm btn-default glyphicon" ng-click="updateEnvironment()">&#8593</button>
        <button title="Reload" class="btn btn-sm btn-default glyphicon" ng-click="reloadEnvironment()">&#8595</button>
    </div>

    <hr class="row col-xs-12">

    <div ng-if="$root.environment" class="row">

        <!-- GEOMETRY -->
        <div class="col-sm-4">
            <h4>Geometry:</h4>
            <div>edit:</div>
            <!--<textarea type="text" class="form-control" rows="8" placeholder="Agent geometry" ng-model="$root.agents[class_name][id].geometry | json" disabled></textarea>-->
            
            <div id="agent-map-canvas" class="well" style="width:100%;height:400px"></div>
            
        </div>


        <!-- TIME -->
        <div class="col-sm-4">
            <h4>Time:</h4>
            <div class="form-group" ng-repeat="(key , value) in $root.environment.properties.time">
                <div>{{key}}:</div>
                <div class="col-xs-12 input-group">
                    <div class="input-group-addon" ng-if="$root.environment.properties.time[key].pre">{{$root.environment.properties.time[key].pre}}</div>
                    <input class="form-control" type="{{$root.environment.properties.time[key].type}}" ng-model="$root.environment.properties.time[key].value">
                    <div class="input-group-addon" ng-if="$root.environment.properties.time[key].post">{{$root.environment.properties.time[key].post}}</div>
                </div>
            </div>
        <!-- PROPERTIES -->
            <h4>Properties:</h4>
            <div class="form-group" ng-if="$root.environment.properties[key].type != undefined" ng-repeat="(key , value) in $root.environment.properties">
                <div>{{key}}:</div>
                <div class="col-xs-12 input-group">
                    <div class="input-group-addon" ng-if="$root.environment.properties[key].pre">{{$root.environment.properties[key].pre}}</div>
                    <input class="form-control" type="{{$root.environment.properties[key].type}}" ng-model="$root.environment.properties[key].value">
                    <div class="input-group-addon" ng-if="$root.environment.properties[key].post">{{$root.environment.properties[key].post}}</div>
                </div>
            </div>
        </div>
       
        
        <!-- GRAPH -->
        <div class="col-sm-4">
            <h4>Graph:</h4>
            <div>edit:</div>
            <!--<textarea type="text" class="form-control" rows="8" placeholder="Agent geometry" ng-model="$root.agents[class_name][id].geometry | json" disabled></textarea>-->
            
            <div id="graph-map-canvas" class="well" style="width:100%;height:400px"></div>
        </div>
        
    </div>