
<div class="jumbotron">
    <h1>MASSHA: An Agent-Based Approach for Human Activity Simulation in Intelligent Environments</h1>


    <p>O. Kamara-Esteban, G. Azkune, A. Pijoan, C.E. Borges, A. Alonso-Vicario and D. López-de-Ipiña</p>

    <p>Deusto Institute of Technology, University of Deusto, Bilbao, Spain.</p>
    
</div>

<p class="panel panel-body">Human activity recognition has the potential to become a real enabler for 
ambient assisted living technologies. Research on human activity recognition 
demands the execution of complex experiments involving humans in intelligent 
environments in order to generate meaningful datasets, both for development and 
validation. However, running such experiments is generally expensive and 
troublesome, slowing down the research process. Simulation technologies have 
been proposed to mitigate those problems. In this paper, an agent-based 
simulator for human activities in intelligent environments is presented: MASSHA. 
MASSHA takes advantage of Multi-Agent Systems, proposing a bottom-up 
decentralised and dynamic environment, where persons are modelled as active 
agents, whereas objects and sensors are passive entities which react to actions. 
This paper also proposes a sound validation methodology for simulators, 
providing an example of application with MASSHA and a real dataset. Results show 
that the simulator can reproduce datasets similar to real ones, according to the 
defined methodology and parameters.</p>




